<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- Permisos para escribir y leer en almacenamiento externo -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SistemaDeVentasdeProductos"
        tools:targetApi="31" >
        <activity
            android:name=".producto.NewProductoActivity"
            android:exported="false" />
        <activity
            android:name=".producto.FiltroProductoActivity"
            android:exported="false" />
        <activity
            android:name=".producto.ProductoActivity"
            android:exported="false" />
        <activity
            android:name=".venta.NewVentaActivity"
            android:exported="false" />
        <activity
            android:name=".venta.FiltroVentaActivity"
            android:exported="false" />
        <activity
            android:name=".venta.VentaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.NewClienteActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.FiltroClienteActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ClienteActivity"
            android:exported="false" />
        <activity
            android:name=".SelectActivity"
            android:exported="false" />
        <activity
            android:name=".categoria.CategoriasActivity"
            android:exported="false" />
        <activity
            android:name=".categoria.FiltroCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".categoria.NewCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>